.price-container {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  gap: 2rem;
  text-align: center;
  font-family: "Courier New", Courier, monospace;
}
.pricing-plan {
  background-color: lightblue;
  border-radius: 20px;
  padding: 20px;
}

.price-title {
  font-weight: bold;
  padding: 20px;
  color: white;

  font-size: 2rem;
}

.price-details {
  color: rgb(3, 3, 132);
  font-size: 1.5rem;
  font-weight: bolder;
}

.plan-features {
  list-style: none;
  text-align: center;
  font-weight:200;
}

.button{
   margin-bottom: 15px;
   margin-top: 15px;
   border: none;
   background-color: rgb(69, 172, 250);
   padding: 15px;
   border-radius: 5px;
   color: white;
}

@media (max-width: 1250px){
   .price-container{
      flex-direction: column;
      height: 100%;
   }
}
